h1 {
    font-size: 75px;
}

a {
    color: rgb(153, 255, 0);
    background-color: black;
}

body {
    background-color: rebeccapurple;
}

h2 {
    font-size: 45px;
    color: red;
}

h3 {
    color: burlywood;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul, ol {
    font-weight: bold;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}